.fightScreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  z-index: 800;
  background: black;
  color: white;

  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr 300px;
}

.log {
  position: absolute;
  top: 1em;
  z-index: 802;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  text-shadow: black 1px 1px 2px;
}

.partyStats {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  background: black;
  padding: 1em;
}

.partyBox {
  border: 2px solid white;
  padding: 0.5em;
}

.partyBox p {
  margin: 0.25em;
}

.actionsMenu li.focusAction {
  border: 2px solid white;
}

.actionsMenu li.disabledAction {
  color: darkgray;
}

.actionsMenu {
  position: absolute;
  z-index: 50000;
  left: 5vw;
  bottom: 0;
  background: black;
  border: 2px solid white;
  padding: 1em;
}

.actionsMenu h2 {
  font-size: 1rem;
  margin-top: 0;
}

.actionsMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.actionsMenu li {
  padding: 0.5em;
  border: 2px solid black;
}

.actionsMenu li p {
  margin: 0em;
}

.arena {
  width: 100%;
  aspect-ratio: 16/9;
  background: #222;
}
