.memberProps {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min(30%, 200px) 1fr;
  gap: 1em;
}

.memberProps progress {
  width: 100%;
  appearance: none;
  height: 0.6em;
  margin-top: 0.4em;
}

.memberProps progress::-webkit-progress-bar {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 7px;
}

.memberProps progress::-webkit-progress-value {
  background-color: #4c4;
  border-radius: 7px;
}

.memberProps progress.energyBar::-webkit-progress-value {
  background-color: #44f;
  border-radius: 7px;
}
